:root {
    --primary-color: #79aec8;
    --secondary:     #417690;
    --accent:        #f5dd5d;
    --primary-fg:    #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*body {
    fonct-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
    min-height: 100vh;
    color: #161616;
}*/

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 10pt;
}

input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

#forms {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 0.5rem;
}

.input-group {
    margin: 0.6rem;
}

#text {
    width: 500px;
    height: 250px;
}

#subm {
    padding: 0.75rem;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    cursor: pointer;
    
}

select {
    width: "100%";
}


